.container {
    margin: 0 auto;
    padding: 0;
    
}

.rasm img {
    width: 600px;
    height: 560px;
    background-image: url(images/about.jpg);
    margin-left: -40px;
}
.yozuv {
    width: 650px;
    height: 490px;
    line-height: 30px;
    margin-left: -90px;
    margin-top: 83px;
    background-color: white;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin: 0 auto;
    
}
body {
    font-family: "Nunito Sans", Arial, sans-serif;
    background: #fff;
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
    color: #666666;
}
.heading-section .subheading {
    display: inline-block;
    margin-bottom: 0;
    color: #e86ed0;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
    display: flex;
    justify-content: center;
}
.pushtiyozuv {
    display: inline-block;
    display: flex;
    justify-content: center;
    width: 600px;
    margin-left: 250px;
    margin-top: 90px ;
    margin-bottom: 90px;
}
.card {
    display: flex;
    align-self: center;
    align-items: center;
    padding-bottom: 20px;
    
}
.card img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 10px;
}
.card p {
    color: grey;
}
.ismlar {
    margin-left: 80px;
    margin-top: -90px;
    display: inline-block;
}
.kottaligi {
    width: 350px;
    margin: 23px;
}